<footer class="bg-dark text-light py-4 mt-5">
    <!-- Conteneur du pied de page -->
    <div class="container">
        <!-- Ligne contenant le texte centré -->
        <div class="row justify-content-center">
            <!-- Colonne contenant le texte avec un alignement centré -->
            <div class="col-md-6 text-center">
                <!-- Texte du pied de page -->
                <p class="mb-0">
                    &copy; 
                    <!-- Affiche l'année en cours -->
                    <?php echo date("Y"); ?>
                    TolMenJy | Tous les droits sont réservés. <br />
                    <!-- Description du projet -->
                    Ce projet a été réalisé dans le cadre de mon apprentissage pour le BTS SIO.
                </p>
            </div>
        </div>
    </div>
</footer>
