<nav class="navbar navbar-expand-lg sticky-top">
    <!-- Conteneur principal de la barre de navigation -->
    <div class="container-fluid">
        <!-- Lien vers la page d'accueil -->
        <a class="navbar-brand" href="home.php">Les mystérieuses cités d'or</a>
        
        <!-- Bouton de menu mobile pour afficher ou masquer les éléments du menu -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span> <!-- Icône du menu hamburger -->
        </button>
        
        <!-- Menu de navigation avec un système de collapsible pour les petits écrans -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Liste des éléments de la barre de navigation alignée à droite -->
            <ul class="navbar-nav ms-auto">
                <!-- Lien vers la section "Histoire" -->
                <li class="nav-item">
                    <a class="nav-link" href="histoire.php">Histoire</a>
                </li>
                
                <!-- Lien vers la section "Personnages" -->
                <li class="nav-item">
                    <a class="nav-link" href="perso.php">Personnages</a>
                </li>
                
                <!-- Lien vers la section "Culture" -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="culture.php">Culture</a>
                </li> -->
                
                <!-- Lien vers la page "Galerie" -->
                <li class="nav-item">
                    <a class="nav-link" href="galerie.php">Galerie</a>
                </li>
                
                <!-- Lien vers la section "Jeux" -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="jeux.php">Jeux</a>
                </li> -->
                
                <!-- Lien vers la section "Contact" -->
                <li class="nav-item">
                    <a class="nav-link" href="contact.php">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
